<!DOCTYPE html>
<html>
  <head>
    <title>Hotwire Sandbox #osrb03</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/png" href="/favicon.png" sizes="96x96" />
    <%= yield :head %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="p-3 container">
      <p style="color: green"><%= notice %></p>
      <%= yield %>
    </div>
    <%= turbo_frame_tag "modal" %>
    <div id="flash" class="position-fixed top-0 end-0 flashes"></div>
  </body>
</html>
